VITE_API_BASE_URL=http://localhost:3000/api
VITE_UPLOAD_API_URL=http://localhost:3000/api/upload

DO_SPACES_BUCKET=martiscdn
DO_SPACES_REGION=sfo3
DO_SPACES_ENDPOINT=sfo3.digitaloceanspaces.com
DO_SPACES_CDN=sfo3.cdn.digitaloceanspaces.com
DO_SPACES_KEY=
DO_SPACES_SECRET=
