{
  "openapi": "3.0.3",
  "info": {
    "title": "School Schedule API",
    "description": "API for School Management System with multilingual support (Russian/Kazakh)",
    "version": "2.0.0",
    "contact": {
      "name": "API Support",
      "email": "support@school-api.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://walrus-app-fioy4.ondigitalocean.app/api",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000/api",
      "description": "Development server"
    }
  ],
  "security": [
    {
      "JWT-auth": []
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Login to school system",
        "description": "Authenticate school and get JWT token",
        "operationId": "login",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              },
              "example": {
                "email": "school@example.com",
                "password": "password123"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful login",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "tags": ["Authentication"],
        "summary": "Get current school information",
        "description": "Get information about the authenticated school",
        "operationId": "getMe",
        "security": [
          {
            "JWT-auth": []
          }
        ],
        "responses": {
          "200": {
            "description": "School information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/School"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/school": {
      "get": {
        "tags": ["Schools"],
        "summary": "Get all schools",
        "description": "Retrieve a list of all schools",
        "operationId": "getAllSchools",
        "responses": {
          "200": {
            "description": "List of schools",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/School"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Schools"],
        "summary": "Create a new school",
        "description": "Create a new school in the system",
        "operationId": "createSchool",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSchoolRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "School created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/School"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/school/{id}": {
      "get": {
        "tags": ["Schools"],
        "summary": "Get school by ID",
        "description": "Retrieve a specific school by its ID",
        "operationId": "getSchoolById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "School ID"
          }
        ],
        "responses": {
          "200": {
            "description": "School information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/School"
                }
              }
            }
          },
          "404": {
            "description": "School not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Schools"],
        "summary": "Update school",
        "description": "Update school information",
        "operationId": "updateSchool",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "School ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSchoolRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "School updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/School"
                }
              }
            }
          },
          "404": {
            "description": "School not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Schools"],
        "summary": "Delete school",
        "description": "Delete a school from the system",
        "operationId": "deleteSchool",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "School ID"
          }
        ],
        "responses": {
          "200": {
            "description": "School deleted successfully"
          },
          "404": {
            "description": "School not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "JWT-auth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token for authentication"
      }
    },
    "schemas": {
      "LoginRequest": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "School email address"
          },
          "password": {
            "type": "string",
            "minLength": 6,
            "description": "School password"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "JWT access token"
          }
        }
      },
      "School": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "School ID"
          },
          "nameRu": {
            "type": "string",
            "description": "School name in Russian"
          },
          "nameKz": {
            "type": "string",
            "description": "School name in Kazakh"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "School email"
          },
          "addressRu": {
            "type": "string",
            "nullable": true,
            "description": "School address in Russian"
          },
          "addressKz": {
            "type": "string",
            "nullable": true,
            "description": "School address in Kazakh"
          },
          "descriptionRu": {
            "type": "string",
            "nullable": true,
            "description": "School description in Russian"
          },
          "descriptionKz": {
            "type": "string",
            "nullable": true,
            "description": "School description in Kazakh"
          },
          "logoUrl": {
            "type": "string",
            "nullable": true,
            "description": "School logo URL"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "statusCode": {
            "type": "integer",
            "description": "HTTP status code"
          },
          "message": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Error message(s)"
          },
          "error": {
            "type": "string",
            "description": "Error type"
          }
        }
      },
      "CreateSchoolRequest": {
        "type": "object",
        "required": ["nameRu", "nameKz", "email", "password"],
        "properties": {
          "nameRu": {
            "type": "string",
            "description": "School name in Russian"
          },
          "nameKz": {
            "type": "string",
            "description": "School name in Kazakh"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "School email address"
          },
          "password": {
            "type": "string",
            "minLength": 6,
            "description": "School password"
          },
          "addressRu": {
            "type": "string",
            "description": "School address in Russian"
          },
          "addressKz": {
            "type": "string",
            "description": "School address in Kazakh"
          },
          "descriptionRu": {
            "type": "string",
            "description": "School description in Russian"
          },
          "descriptionKz": {
            "type": "string",
            "description": "School description in Kazakh"
          },
          "logoUrl": {
            "type": "string",
            "format": "uri",
            "description": "School logo URL"
          }
        }
      },
      "UpdateSchoolRequest": {
        "type": "object",
        "properties": {
          "nameRu": {
            "type": "string",
            "description": "School name in Russian"
          },
          "nameKz": {
            "type": "string",
            "description": "School name in Kazakh"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "School email address"
          },
          "addressRu": {
            "type": "string",
            "description": "School address in Russian"
          },
          "addressKz": {
            "type": "string",
            "description": "School address in Kazakh"
          },
          "descriptionRu": {
            "type": "string",
            "description": "School description in Russian"
          },
          "descriptionKz": {
            "type": "string",
            "description": "School description in Kazakh"
          },
          "logoUrl": {
            "type": "string",
            "format": "uri",
            "description": "School logo URL"
          }
        }
      }
    }
  }
} 